---
import Layout from '../layouts/Layout.astro'
---

<Layout>
    <section class=" flex w-full  flex-col justify-center align-middle px-4 text-center  ">
        <h1 class="tracking-widest text-white uppercase text-center ">404 | Not Found</h1>
    </section>
</Layout>
