---
import Layout from '../layouts/Layout.astro'
import Games from '../components/Games.astro'
---

<Layout>
	<div class="flex flex-row justify-start align-middle gap-5 mb-5">
		<h1 class="md:text-5xl font-bold text-white sm:text-2xl">October</h1>
		<h1 class="md:text-5xl font-light text-white sm:text-2xl">2023</h1>
	</div>
	<Games/>
</Layout>